body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #FAF3E0;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FAF3E0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar .logo {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.navbar .logo img {
    height: 30px;
    margin-right: 10px;
}
.navbar .nav-links {
    display: flex;
    gap: 20px;
}
.navbar .nav-links a {
    text-decoration: none;
    color:  #ff5733;
    font-weight: 550;
}
.navbar .btn-signup {
    background-color: #ff5733;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 700;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
}
p {
    font-size: 1rem;
    color: #000;
    margin-bottom: 20px;
}
.logito {
    font-size: 1rem;
    color: #ff5733;
    margin-bottom: 20px;
}

.navbar .btn-signup{

    display: inline-block;
    background: linear-gradient(to right, #FA812F, #FA4032);
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    margin-top: 10px;
}
.btn:hover {
    background-color: #1C5BC0;
}


/* FORM */

.life-wheel-container {
    max-width: 500px;
    margin: 2rem auto;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card-header {
    background: linear-gradient(to right, #FAB12F, #FA812F);
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-label {
    color: #FA4032;
    font-weight: bold;
    margin-right: 15px;
    width: 200px;
    text-align: right;
}

.form-control {
    border: 2px solid #FA812F;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(250, 129, 47, 0.05);
    width: 200px;
}

.btn-custom {
    background: linear-gradient(to right, #FA812F, #FA4032);
    color: white;
    border: none;
    padding: 15px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px
}


