body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #FAF3E0;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FAF3E0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar .logo {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.navbar .logo img {
    height: 30px;
    margin-right: 10px;
}
.navbar .nav-links {
    display: flex;
    gap: 20px;
}
.navbar .nav-links a {
    text-decoration: none;
    color: #ff5733;
    font-weight: 550;
}
.navbar .btn-signup {
    background: linear-gradient(to right, #FA812F, #FA4032);
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 700;
}

.btn{
    background: linear-gradient(to right, #FA812F, #FA4032);
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ff5733;
}
p {
    font-size: 1rem;
    color: #ff5733;
    margin-bottom: 20px;
}

.texto{
    font-size: 1rem;
    color: black;
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    background-color: #ff5733;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    margin-top: 10px;
}
.btn:hover {
    background-color: #ff5750;
}
.footer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
}