<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ko-fi Clone</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <style>

    </style>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="../images/logo.png" alt="Kwan Psychology">
            <p>Kwan <br>Psychology</p>
        </div>
        <div class="nav-links">
            <a href="index.html">Inicio</a>
            <a href="nosotros.html">¿Quienes Somos?</a>
            <a href="evaluacion.html">Evaluacion</a>
            <a href="contacto.html">Contactenos</a>
        </div>
        <a href="#" class="btn-signup">Donaciones</a>
    </nav>
    <div class="container">
        <h1>Conocete mejor con<br> nuestra rueda de la vida</h1>
        <p class="texto">¡Docenas de usuarios han hecho este test para mejorar su desarrollo personal con excelentes resultados!</p>
        <a href="evaluacion.html" class="btn">Comenzar</a>
        <p class="footer">¿Qué esperas?</p>
    </div>
</body>
</html>